body {
  font-family: 'Poppins', sans-serif;
    margin: 100px;
    background : #bb5151;
    align-items: center; 
    font-size:x-large;
  }
  
  h1 {
    color: #05060e;
    text-align:center;
    font-style: oblique;
    border: 10px solid #b7b70b;
    padding: 10px;
    background-color: #f8f8f8;

  }
  
  h2 {
    color: #e11212;
    border: 10px solid #ccc;
    padding: 10px;
    background-color: #f8f8f8;
  }
  
  p {
    margin-bottom: 10px;
    border: 10px solid #ccc;
    padding: 10px;
    
  }
  .education, .experience, .info {
    border: 10px solid #646676;
    padding: 10px;
    background-color: #f8f8f8;
  }
  
  .education h3, .experience h3 {
    color: #070114;
    margin-bottom: 5px;
  }
  
  